In [1]:
import pandas as pd
import numpy as np

In [139]:
d = pd.read_csv(r"C:\Users\DELL\Desktop\PrepInsta Internship @2023\Week 3 -  Data Cleaning\Week 3 - Data Cleaning (Pandas) - 2\chipotle.tsv",sep='\t')
data = d.copy()
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [140]:
data.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [141]:
data.shape

(4622, 5)

In [142]:
data.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [143]:
data.choice_description

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [165]:
# Replace NaN values with Unknown, remove square brackets

In [144]:
data.choice_description.replace(np.nan,'Unknown',inplace=True)

In [145]:
data.choice_description

0                                                 Unknown
1                                            [Clementine]
2                                                 [Apple]
3                                                 Unknown
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [146]:
data['choice_description']=data['choice_description'].str.replace('[',' ',regex=True)

In [147]:
data['choice_description'] = data['choice_description'].str.replace(']','',regex=True)

In [148]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,Unknown,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,Unknown,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans...",$16.98

In [166]:
print('Max. Quantity: ',data['quantity'].max())
print('--------------------------------------')
print('Min. Quantity: ',data['quantity'].min())
print('--------------------------------------')
print('Max. Item Price: ',data['item_price'].max())
print('--------------------------------------')
print('Min. Item Price: ',data['item_price'].min())

Max. Quantity:  15
--------------------------------------
Min. Quantity:  1
--------------------------------------
Max. Item Price:  $9.39
--------------------------------------
Min. Item Price:  $1.09

In [ ]:
# Drop Duplicates

In [150]:
data.duplicated().sum()

59

In [151]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

In [152]:
data['choice_description'].value_counts()

Unknown                                                                                                                                       1228
 Diet Coke                                                                                                                                     133
 Coke                                                                                                                                          115
 Sprite                                                                                                                                         77
 Fresh Tomato Salsa,  Rice, Black Beans, Cheese, Sour Cream, Lettuce                                                                            41
                                                                                                                                              ...
 Tomatillo Green Chili Salsa,  Sour Cream, Cheese, Guacamole, Rice, Fajita Vegetables                                                            1
 Fresh Tomato Salsa (Mild),  Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce                                                         1
  Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot),  Pinto Beans, Cheese, Sour Cream, Lettuce       1
 Fresh Tomato (Mild),  Guacamole, Rice, Black Beans                                                                                              1
 Tomatillo Green Chili Salsa,  Rice, Fajita Vegetables, Black Beans, Guacamole                                                                   1
Name: choice_description, Length: 1044, dtype: int64

In [153]:
data.groupby(['item_price','choice_description'])['quantity'].sum().reset_index()

     item_price                                 choice_description  quantity
0        $1.09                                           Coca Cola        20
1        $1.09                                           Diet Coke        11
2        $1.09                                     Diet Dr. Pepper        12
3        $1.09                                          Dr. Pepper        14
4        $1.09                                        Mountain Dew        11
...         ...                                                ...       ...
1433     $9.39    Roasted Chili Corn Salsa,  Fajita Vegetables,...         1
1434     $9.39    Roasted Chili Corn Salsa,  Fajita Vegetables,...         1
1435     $9.39    Roasted Chili Corn Salsa,  Rice, Black Beans,...         1
1436     $9.39    Tomatillo Green Chili Salsa,  Fajita Vegetabl...         1
1437     $9.39    Tomatillo Green Chili Salsa,  Rice, Pinto Bea...         1

[1438 rows x 3 columns]

In [154]:
data.item_name.value_counts()

Chicken Bowl                             717
Chicken Burrito                          546
Chips and Guacamole                      474
Steak Burrito                            365
Canned Soft Drink                        290
Steak Bowl                               210
Chips                                    208
Bottled Water                            155
Chicken Soft Tacos                       111
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              102
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          90
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             65
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chicken Crispy Tacos                      47
Chips and Tomatillo Red Chili Salsa       46
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      19
Chips and Tomatillo-Red Chili Salsa       19
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Chicken Salad                              9
Barbacoa Salad Bowl                        9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [155]:
# Splitting choice_description into multiple columns

In [156]:
data['choice_decription'] = data['choice_description'].str.replace('Unknown','None')

In [157]:
split_columns= data['choice_description'].str.split(',',expand=True)
split_columns.columns= ['choice_description_1','choice_description_2','choice_description_3','choice_description_4',
                        'choice_description_5','choice_description_6','choice_description_7','choice_description_8',
                       'choice_description_9','choice_description_10']

In [159]:
final_data= pd.concat([data,split_columns], axis=1)
del final_data['choice_description']
del final_data['choice_decription']
final_data

,order_id,quantity,item_name,item_price,choice_description_1,choice_description_2,choice_description_3,choice_description_4,choice_description_5,choice_description_6,choice_description_7,choice_description_8,choice_description_9,choice_description_10
0,1,1,Chips and Fresh Tomato Salsa,$2.39,Unknown,None,None,None,None,None,None,None,None,None
1,1,1,Izze,$3.39,Clementine,None,None,None,None,None,None,None,None,None
2,1,1,Nantucket Nectar,$3.39,Apple,None,None,None,None,None,None,None,None,None
3,1,1,Chips and Tomatillo-Green Chili Salsa,$2.39,Unknown,None,None,None,None,None,None,None,None,None
4,2,2,Chicken Bowl,$16.98,Tomatillo-Red Chili Salsa (Hot),Black Beans,Rice,Cheese,Sour Cream,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,$11.75,Fresh Tomato Salsa,Rice,Black Beans,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None
4618,1833,1,Steak Burrito,$11.75,Fresh Tomato Salsa,Rice,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None,None
4619,1834,1,Chicken Salad Bowl,$11.25,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Guacamole,Lettuce,None,None,None,None,None
4620,1834,1,Chicken Salad Bowl,$8.75,Fresh Tomato Salsa,Fajita Vegetables,Lettuce,None,None,None,None,None,None,None
4621,1834,1,Chicken Salad Bowl,$8.75,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Lettuce,None,None,None,None,None,None

In [ ]:
# Saved as csv file

In [160]:
final_data.to_csv('Cleaned_chipotle',sep=',')

In [161]:
clean_chipotle= pd.read_csv(r"C:\Users\DELL\PrepInsta practice\Cleaned_chipotle")
clean_chipotle.head()

,Unnamed: 0,order_id,quantity,item_name,item_price,choice_description_1,choice_description_2,choice_description_3,choice_description_4,choice_description_5,choice_description_6,choice_description_7,choice_description_8,choice_description_9,choice_description_10
0,0,1,1,Chips and Fresh Tomato Salsa,$2.39,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,Izze,$3.39,Clementine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,1,Nantucket Nectar,$3.39,Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,$2.39,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2,2,Chicken Bowl,$16.98,Tomatillo-Red Chili Salsa (Hot),Black Beans,Rice,Cheese,Sour Cream,NaN,NaN,NaN,NaN,NaN

In [162]:
del clean_chipotle['Unnamed: 0']

In [164]:
clean_chipotle.choice_description_1.replace('Unknown','None',inplace=True)
clean_chipotle.replace(np.nan,'None',inplace=True)
clean_chipotle

,order_id,quantity,item_name,item_price,choice_description_1,choice_description_2,choice_description_3,choice_description_4,choice_description_5,choice_description_6,choice_description_7,choice_description_8,choice_description_9,choice_description_10
0,1,1,Chips and Fresh Tomato Salsa,$2.39,None,None,None,None,None,None,None,None,None,None
1,1,1,Izze,$3.39,Clementine,None,None,None,None,None,None,None,None,None
2,1,1,Nantucket Nectar,$3.39,Apple,None,None,None,None,None,None,None,None,None
3,1,1,Chips and Tomatillo-Green Chili Salsa,$2.39,None,None,None,None,None,None,None,None,None,None
4,2,2,Chicken Bowl,$16.98,Tomatillo-Red Chili Salsa (Hot),Black Beans,Rice,Cheese,Sour Cream,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4558,1833,1,Steak Burrito,$11.75,Fresh Tomato Salsa,Rice,Black Beans,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None
4559,1833,1,Steak Burrito,$11.75,Fresh Tomato Salsa,Rice,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None,None
4560,1834,1,Chicken Salad Bowl,$11.25,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Guacamole,Lettuce,None,None,None,None,None
4561,1834,1,Chicken Salad Bowl,$8.75,Fresh Tomato Salsa,Fajita Vegetables,Lettuce,None,None,None,None,None,None,None
4562,1834,1,Chicken Salad Bowl,$8.75,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Lettuce,None,None,None,None,None,None